<!DOCTYPE html>
<html>
<head>
    <style>
#div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
</style>
	<title>build</title>
    <link rel="stylesheet" href="styles/styles.css">
    <meta charset="utf-­‐8"> 
    <meta name=“viewport” content=“width= device-width, initial scale=1.0”> 
    <!-- Latest compiled and minified CSS --> 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    <!-- jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <!-- Latest compiled JavaScript --> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>
</head>
<body>
<h1>build starting 5</h1>


<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<div class="container-fluid">
    <ul>
        {%for player in players%}
        <div class="row">
            <div class="col-md-2" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <a href="{{url_for('player', player_id = player.id)}}" draggable="true" ondragstart="drag(event)" id="drag1">
                    <li> <p>{{player.name}}</p></li></a>
                </div>
            </div>
        </div>
        {%endfor%}
    </ul>
</div>

<div class="container-fluid">
    <ul>
        {%for detail in details%}
        <div class="row">
            <div class="col-md-2">
            <li> <p>{{detail}}</p></li>
            </div>
        </div>
        {%endfor%}
    </ul>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <p>position 1</p>
        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div class="col-md-2">

    <div class="col-md-2">
        <p>position 2</p>
        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>

    <div class="col-md-2">
        <p>position 3</p>
        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>

    <div class="col-md-2">
        <p>position 4</p>
        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>

    <div class="col-md-2">
        <p>position 5</p>
        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
</div>


<div class="container-fluid">
<a href="{{ url_for('create_player') }}" value=Cancel class="btn btn-info">Create Player</a>
<br>
<a href="{{ url_for('starting_5s') }}" value=Cancel class="btn btn-info">My starting 5</a>
<br>
<a href="{{ url_for('my_players') }}" value=Cancel class="btn btn-info">My players</a>
</div>
</body>
</html>