<!DOCTYPE html>
<html>
<body>

<p>Image to use:</p>


    
    <img id="scream" width="800" height="600" src="Untitled design-1.jpg" alt="The Scream" style="position:absolute;left:200px;top:100px;">
    <input type="text" style="position:absolute;left:200px;top:450px;width:600px;">



<!--

<p>Canvas:</p>
<canvas id="myCanvas" width="1000" height="1000" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<select name="position_5" id="amos">
        <option value="amos">amos</option>
</select>
<script>
window.onload = function() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var img = document.getElementById("scream");
    var amos =document.getElementById("amos")
    ctx.drawImage(img,0,0);
    ctz.drawImage(amos,20,20)
}
</script>

<p><strong>Note:</strong> The canvas tag is not supported in Internet 
Explorer 8 and earlier versions.</p>
!-->
</body>
</html>