<!DOCTYPE html>
<html>
<head>
	<title>my_players</title>
	<meta charset="utf-­‐8"> 
    <meta name=“viewport” content=“width= device-width, initial scale=1.0”> 
    <!-- Latest compiled and minified CSS --> 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    <!-- jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <!-- Latest compiled JavaScript --> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
</head>
<body>
<h1>My Players</h1>
<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>

<div class="container-fluid">
	<ul>
		{%for player in players%}
        <div class="row">
            <div class="col-md-2">
            <a href="{{url_for('player', player_id = player.id)}}">
			<li> <p>{{player.name}}</p></li>
            </a>
            </div>
        </div>
		{%endfor%}
	</ul>
</div>





</div>
</body>
</html>